.hr-horizontal {
    background: transparent;
    margin: 0.5rem 0;
    background-image: linear-gradient(90deg, transparent, rgba($black, .4), transparent);
}

.hr-vertial {
    width: 1px;
    height: auto !important;
    margin: 0 0.5rem;
    background: transparent;
    background-image: linear-gradient(180deg, transparent, rgba($black, .4), transparent);
}